* {
    margin: 0;
    padding: 0;
    font-family: cursive;
  }
  
  body {
    background-color: #615c52;
    text-align: center;
  }

  h1{
    color: #191913;
  }

  .smt{
    position: absolute;  
    color: #191913;
    text-decoration: none;
    font-size: small;
    bottom: 10px;
    right: 95px;
  }

  a{
    position: absolute;  
    color: #191913;
    text-decoration: none;
    font-size: small;
    bottom: 10px;
    right: 10px;
  }
  
  #animatedGif {
    width: 500px;
    display: block;
    margin: 20px auto;
  }

  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #000000;
    background-color: #d7fcd4;
  }
  
  #reset-btn {
    padding: .5rem;
    font-size: .8rem;
    margin: 3%;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 10vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }